# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Awesome xonshrc test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3
      uses: actions/setup-python@v2
      with:
        python-version: 3.12
    - name: Install dependencies
      run: |
        echo $(python -V)
        python -m pip install --upgrade pip
        pip install 'xonsh[full]'
    - name: Install awesome RC
      run: |
        pip install --use-pep517 .
    - name: Test awesome RC
      run: |
        echo Get xontrib name
        filename=$(basename -- $(ls xontrib/*.*))
        xontrib_name="${filename%.*}"
        echo Xontrib name: $xontrib_name
        echo Testing...
        export XONSH_SHOW_TRACEBACK=True
        xonsh -c "xontrib load $xontrib_name"
        #r=$(xonsh -c "xontrib load $xontrib_name" 2>&1 || true)
        #echo Test output: $r
        #[ "$r" == "" ] && exit 0 || exit 1
